/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html{
  height: 100%;
  background-color: #233;
  background-image: -moz-linear-gradient(top,#233,#fff);
  background-image: -webkit-gradient(linear,left top, left bottom, from(#233), to(#FFF));
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient (StartColorStr-#223333, EndColorStr=#FFFFFF)";
  background-image: linear-gradient(top,#233,#fff);
}
body {
  width: 1200px;
  margin: 0 auto;
  padding: 29px;
  border: 1px solid #233;
  border-top: none;
  background: #fff;
  font: 82%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.header{
  padding-bottom: 5px;
  border-bottom: 5px solid #233; 
}
.footer {
  clear: right;
}
.navigation{
 float: right; 
}
