// Place all the styles related to the Novels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.novels{
  table{
    border-collapse : collapse;
  }
  table tr td {
    padding:5px;
    vertical-align:top;
  }
  .list_title {
    width: 100px;
  }
  .list_description {
    width :60%;
   }
  .list_actions{
   font-size: x-small;
   text-align: right;
   padding-left: lem;
  }
  .list_line_even {
     background: #e0f8f8;
  }
  .list_line_odd {
    background: #f8b0f8;
  }
  .scenesList {
  width: 200px;
  background-color: beige;
  }
  #editor{
  position: absolute;
	top: 100px;
	left: 450px;
	width: 950px;
  height: 500px;
  }
}
