// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profiles #div1 {
  border : 1px solid ;
  border-top-left-radius : 6px;
  border-top-right-radius : 6px;
}